nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 36px;
  height: 70px;
  align-items: center;
  text-decoration: none;
}

.login-button .title {
  list-style-type: none;
  letter-spacing: 1.3px;
  height: 32px;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
  padding: 10px 16px;
  background-color: #040714;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login-button .title:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #f9f9f9;
}
