* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir", sans-serif;
  background-image: url(../assets/img/original.jfif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #040814;
}
